# Application variables
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
CORS_WHITELIST=https://your-frontend-domain.com

# MongoDB variables
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=mongo-db-name

# Cloudinary variables
CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
CLOUDINARY_TRANSFORMATION_NAME=your-cloudinary-transformation-name

# Resend variables
MAILING_API_KEY=your-api-key
MAILING_MAX_RETRIES=3
MAILING_RETRY_DELAY=1000
MAILING_FROM_EMAIL=your@email.com

# Auth variables
JWT_SECRET=change-me-to-a-long-random-string
JWT_EXPIRES_IN=7d